/*  Stylesheet for NLM/NCBI  Journal Publishing 3.0 Preview HTML
    January 2009

    ~~~~~~~~~~~~~~
    National Center for Biotechnology Information (NCBI)
    National Library of Medicine (NLM)
    ~~~~~~~~~~~~~~
    
This work is in the public domain and may be reproduced, published or 
otherwise used without the permission of the National Library of Medicine (NLM).

We request only that the NLM is cited as the source of the work.

Although all reasonable efforts have been taken to ensure the accuracy and 
reliability of the software and data, the NLM and the U.S. Government  do 
not and cannot warrant the performance or results that may be obtained  by
using this software or data. The NLM and the U.S. Government disclaim all 
warranties, express or implied, including warranties of performance, 
merchantability or fitness for any particular purpose.

*/


/* --------------- Page setup ------------------------ */

/* page and text defaults */

#doc-display body { margin-left: 8%;
     margin-right: 8%;
     background-color: #f8f8f8 }


#doc-display div > *:first-child { margin-top:0em }

#doc-display div { margin-top: 0.5em }

#doc-display div.front, div.footer { }

#doc-display .back, #doc-display .body { font-family: serif }

#doc-display div.metadata { font-family: sans-serif }
#doc-display div.centered { text-align: center }

#doc-display div.table { display: table }
#doc-display div.metadata.table { width: 100% }
#doc-display div.row { display: table-row }
#doc-display div.cell { display: table-cell; padding-left: 0.25em; padding-right: 0.25em }

#doc-display div.metadata div.cell {
    vertical-align: top }

#doc-display div.two-column div.cell {
    width: 50% }

#doc-display div.one-column div.cell.spanning { width: 100% }

#doc-display div.metadata-group { margin-top: 0.5em;
  font-size: 75% }

#doc-display div.metadata-group > p, div.metadata-group > div { margin-top: 0.5em }

#doc-display div.metadata-area * { margin: 0em }

#doc-display div.metadata-chunk { margin-left: 1em }

#doc-display div.branding { text-align: center }

#doc-display div.document-title-notes {
   text-align: center;
   width: 60%;
   margin-left: auto;
   margin-right: auto
   }

#doc-display div.footnote { font-size: 90% }

/* rules */
#doc-display hr.part-rule {
    border: thin solid black;
    width: 50%;
    margin-top: 1em;
    margin-bottom: 1em;
    }

#doc-display hr.section-rule {
    border: thin dotted black;
    width: 50%;
    margin-top: 1em;
    margin-bottom: 1em;
    }

/* superior numbers that are cross-references */
#doc-display .xref {
    color: red;
    }
    
/* generated text */     
#doc-display .generated { color: gray; }

#doc-display .warning, tex-math {
    font-size:80%; font-family: sans-serif }

#doc-display .warning {
    color: red }

#doc-display .tex-math { color: green }

#doc-display .data {
    color: black;
    }

#doc-display .formula {
    font-family: sans-serif;
    font-size: 90% }
    
/* --------------- Titling levels -------------------- */


#doc-display h1, #doc-display h2,#doc-display  h3, #doc-display h4, #doc-display h5, #doc-display h6 {
   display: block;
   margin-top: 0em;
   margin-bottom: 0.5em;
   font-family: helvetica, sans-serif;
   font-weight: bold;
   color: midnightblue;
  }
/* titling level 1: document title */
#doc-display .document-title {
   text-align: center;
   }

/* callout titles appear in a left column (table cell)
   opposite what they head */
#doc-display .callout-title { text-align: right;
  margin-top: 0.5em;
  margin-right: 1em;
  font-size: 140% }
  


#doc-display div.section, #doc-display div.back-section {
  margin-top: 1em; margin-bottom: 0.5em }

#doc-display div.panel { background-color: white;
  font-size: 90%;
  border: thin solid black;
  padding-left: 0.5em; padding-right: 0.5em;
  padding-top: 0.5em; padding-bottom: 0.5em;
  margin-top: 0.5em; margin-bottom: 0.5em }

#doc-display div.blockquote { font-size: 90%;
  margin-left: 1em; margin-right: 1em;
  margin-top: 0.5em; margin-bottom: 0.5em }

#doc-display div.caption {
  margin-top: 0.5em; margin-bottom: 0.5em }

#doc-display div.speech {
  margin-left: 1em; margin-right: 1em;
  margin-top: 0.5em; margin-bottom: 0.5em }

#doc-display div.verse-group {
  margin-left: 1em;
  margin-top: 0.5em; margin-bottom: 0.5em }

#doc-display div.verse-group div.verse-group {
  margin-left: 1em;
  margin-top: 0em; margin-bottom: 0em }

#doc-display div.note { margin-top: 0em; margin-left: 1em;
  font-size: 85% }

#doc-display .ref-label { margin-top: 0em; vertical-align: top }

#doc-display .ref-content { margin-top: 0em; padding-left: 0.25em }

#doc-display h5.label { margin-top: 0em; margin-bottom: 0em }

#doc-display p { margin-top: 0.5em; margin-bottom: 0em }

#doc-display p.first { margin-top: 0em }

#doc-display p.verse-line, #doc-display p.citation { margin-top: 0em; margin-bottom: 0em; margin-left: 2em; text-indent: -2em }

#doc-display p.address-line { margin-top: 0em; margin-bottom: 0em; margin-left: 2em }

#doc-display ul, #doc-display ol { margin-top: 0.5em }

#doc-display li { margin-top: 0.5em; margin-bottom: 0em }
#doc-display li > p { margin-top: 0.2em; margin-bottom: 0em  }

#doc-display div.def-list { border-spacing: 0.25em }

#doc-display div.def-list div.cell { vertical-align: top;
  border-bottom: thin solid black;
  padding-bottom: 0.5em }

#doc-display div.def-list div.def-list-head {
  text-align: left }

/* text decoration */
#doc-display .label { font-weight: bold; font-family: sans-serif; font-size: 80% }

#doc-display .monospace {
    font-family: monospace;
    }

#doc-display .overline{
    text-decoration: overline;
    }
 
#doc-display a       { text-decoration: none }
#doc-display a:hover { text-decoration: underline }

/* ---------------- End ------------------------------ */

